<%-  include('../../fragments/header.ejs') %>

<script type="application/javascript" src="/JS/validationCommon.js"></script>
<script type="application/javascript" src="/JS/validateOrder"></script>
    <main>
        <h2><%= pageTitle %></h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate>
            <input type="hidden" name="_id" value="<%= order._id%>">

            <label for="userId">Klient: <span class="symbol-required">*</span></label>
                <select name="userId" id="user" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> >
                    <option value="" selected>---Wybierz klienta---</option>
                    <% for (let i=0; i< allUsers.length; i++) { let user = allUsers[i] %>
                    <option value="<%= user._id %>" label="<%= user.firstName + ' ' + user.lastName %>"
                            <%= (order._id && user.id.toString() == order.userId.toString()) ? 'selected' : ''%>></option>
                    <% } %>
                </select>
            <span id="errorKlient" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('userId'))) { %>
                    <%=validationErrors.find(e => e.path.includes('userId')).message%>
                <%}%>
            </span>


            <label for="bookId">Książka: <span class="symbol-required">*</span></label>
            <select name="bookId" id="ksiazka" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <option>---Wybierz książkę---</option>
                <% for (let i=0; i< allBooks.length; i++) { let book = allBooks[i]; %>
                <option value="<%= book._id %>" label="<%= book.title%>"
                        <%= (order._id && book.id.toString() == order.bookId.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span id="errorKsiazka" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('bookId'))) { %>
                    <%=validationErrors.find(e => e.path.includes('bookId')).message%>
                <%}%>
            </span>



            <label for="dateOrder">Data zamówienia: <span class="symbol-required">*</span></label>
            <input type="date" name = "dateOrder" id="dataZamowienia" required>
            <span id="errorDataZamowienia" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('dateOrder'))) { %>
                    <%=validationErrors.find(e => e.path.includes('dateOrder')).message%>
                <%}%>
            </span>

            <label for="dateShipping">Data wysyłki: <span class="symbol-required">*</span></label>
            <input type="date" name = "dateShipping" id="dataWysylki" required>
            <span id="errorDataWysylki" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('dateShipping'))) { %>
                    <%=validationErrors.find(e => e.path.includes('dateShipping')).message%>
                <%}%>
            </span>
            <% if (formMode==='showDetails') {%>
            <div class="form-buttons">
                <a class="list-actions-button-edit"href="/order/edit/<%=order._id%>">Edytuj</a>
            </div>
            <%}%>
            <div class="form-buttons">
                <p id="errorsSummary" class="error-text"></p>
                <% if (formMode !== 'showDetails') {%>
                <input type="submit" class="form-button-submit"  value="<%=btnLabel%>">
                <a href="/order"  class="form-button-cancel">Anuluj</a>
                <%}else {%>
                    <a href="/order"  class="form-button-cancel">Powrót</a>
                <%}%>
            </div>
        </form>
        <% if (formMode == 'showDetails' || formMode == 'edit') {%>

            <h2>Szczegóły zamówienia</h2>
            <table  class="table-list">
                <thead>
                <tr>
                    <th>Książka</th>
                    <th>Cena</th>
                    <th>Data złożenia zamówienia</th>
                    <th>Data wysyłki</th>
                </tr>
                </thead>
                <tbody>
                <% for (let o of allOrders) {%>
                    <tr>
                        <td><a href="/orders/details/<%= o.user._id%>"><%= o.book.title%></a></td>
                        <td><%= o.book.price%></td>
                        <td><%= o.dateOrder %></td>
                        <td><%= o.dataShipping? o.dataShipping.toISOString().split('T')[0] : '' %></td>
                    </tr>
                <% }%>
                </tbody>
            </table>
        <% }%>
    </main>
<%-  include('../../fragments/footer.ejs') %>