<%-  include('../../fragments/header.ejs') %>

    <main>
        <h2>Lista książek</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Wydawnictwo</th>
                    <th>Cena</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for(let book of books) { %>
                <tr>
                    <td> <%= book.title %> </td>
                    <td> <%= book.author.firstName.concat(' ' + book.author.lastName) %> </td>
                    <td> <%= book.publisher %> </td>
                    <td> <%= book.price %> </td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/book/details/<%=book._id%>" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/book/edit/<%=book._id%>" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="/book/delete/<%=book._id%>" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% }%>
            </tbody>
        </table>
        <p><a href="/book/add" class="button-add">Dodaj nową książkę</a></p>
    </main>
<%-  include('../../fragments/footer.ejs') %>